.details {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2022;
}
.details .details-black {
  width: 1092px;
  height: 630px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 3.5%;
  background: url("../../assets/images/details/bg.png") no-repeat;
  background-size: 100% 100%;
}
.details .details-black .heade {
  width: 100%;
  height: 10%;
  margin-bottom: 15px;
  position: relative;
}
.details .details-black .heade .back {
  width: 27px;
  position: absolute;
  left: 1%;
  top: 9%;
  cursor: pointer;
}
.details .details-black .heade .close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1%;
  top: 7%;
  background: url("../../assets/images/table-scroll/close.png") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.details .details-black .heade .close:hover {
  background-image: url("../../assets/images/table-scroll/close-act.png");
}
.details .details-black .details-content {
  width: 84%;
  height: calc(100% - 12%);
  margin: auto;
}
.details .details-black .details-content .details-top {
  height: 17.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details .details-black .details-content .details-top h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  line-height: 40px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #fff;
}
.details .details-black .details-content .details-top h3 {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
}
.details .details-black .details-content .details-top h3 span {
  display: inline-block;
  height: 10px;
  text-align: 10px;
  margin: 0 1%;
}
.details .details-black .details-content .details-white {
  height: calc(100% - 17.5%);
  overflow-y: auto;
  padding: 20px 12%;
  color: #fff;
  /* 浏览器滚动条样式 */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.details .details-black .details-content .details-white p {
  margin-bottom: 2%;
  text-indent: 2em;
  line-height: 24px;
  text-indent: 2rem;
  font-size: 14px;
  color: #000000;
}
.details .details-black .details-content .details-white img {
  width: 85%;
  display: block;
  margin: 0 auto;
}
.details .details-black .details-content .details-white::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.details .details-black .details-content .details-white::-webkit-scrollbar-track {
  background: transparent;
  background: #153266;
  width: 2px;
}
.details .details-black .details-content .details-white::-webkit-scrollbar-thumb {
  background: #9ba7b8;
}
.details .details-black .details-content .details-white::-webkit-scrollbar-thumb:hover {
  background: #a2a2a3;
}
.details .details-black .details-content .map-details-content {
  width: 80%;
  margin: 30px auto 0;
}
.details .details-black .details-content .map-details-content .info-content-top {
  display: flex;
}
.details .details-black .details-content .map-details-content .info-content-top .unit-pic {
  width: 40%;
  flex: none;
  margin-right: 15px;
}
.details .details-black .details-content .map-details-content .info-content-top .unit-pic .unit-img {
  display: block;
  width: 100%;
  height: auto;
}
.details .details-black .details-content .map-details-content .info-content-top .info-content-right {
  width: calc(60% - 15px);
  min-height: 260px;
  height: 100%;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details .details-black .details-content .map-details-content .info-content-top .info-content-right p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.details .details-black .details-content .map-details-content .info-content-bottom {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-break: break-all;
  color: #fff;
}
@media (min-width: 1440px) {
  .details .details-black {
    width: 1248px;
    height: 720px;
  }
  .details .details-black .heade .back {
    width: 30px;
    top: 9%;
  }
  .details .details-black .heade .close {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1920px) {
  .details .details-black {
    width: 1417px;
    height: 839px;
  }
  .details .details-black .details-content {
    height: calc(100% - 10.5%);
  }
  .details .details-black .heade .back {
    width: 35px;
    top: 10%;
  }
  .details .details-black .heade .close {
    width: 20px;
    height: 20px;
    top: 7%;
  }
}
